$color-brand: #26e6e6;
$color-mainBg: #f5f6f8;
$color-ligthBg: #fff;
$color-darkBg: #000;
$color-mainText: #000;
$color-lightText: #a2a4a6;
$color-invertedText: #fff;
$color-ipadText: #9d9d9d;
$color-copyrightsText: #333333;
