@import "./colors.scss";
@import "./fonts.scss";

.subscription {
  font-family: $font-montserrat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 19px 0;
  margin: 0 10px;
  width: 300px;
  height: 308px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  &:hover {
    animation-duration: 1s;
    animation-name: bgDark;
    background-color: $color-darkBg;
    .subscription-name,
    .subscription-price {
      color: $color-invertedText;
    }
    a {
      background-color: $color-brand;
      font-weight: 500;
      border-radius: 20px;
    }
    @keyframes bgDark {
      from {
        background-color: transparent;
      }
      to {
        background-color: $color-darkBg;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    width: 30%;
  }
  @media screen and (max-width: 750px) {
    width: 100%;
    border-bottom: 1px solid $color-lightText;
    border-radius: 0;
    .subscription-description {
      min-height: unset;
    }
  }
}
.subscription-name {
  width: 100%;
  text-align: center;
  color: $color-mainText;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
}
.subscription-price {
  font-weight: 900;
  font-size: 2.5rem;
  color: $color-mainText;
  text-align: center;
  text-transform: uppercase;
}
.subscription-description {
  color: $color-lightText;
  font-size: 0.65rem;
  font-weight: 500;
  line-height: 1.1rem;
  letter-spacing: 0.02rem;
  text-align: center;
  padding: 10px 35px;
  min-height: 120px;
}
.subscription-button {
  background-color: transparent;
  border: none;
  color: $color-mainText;
  text-transform: uppercase;
  font-size: 0.6rem;
  cursor: pointer;
  margin: auto;
  padding: 13px 35px;
}
